@import 'variables'
@import 'media'

.wrapper
    position: sticky
    top: 0
    padding: 20px 0
    background: $main-background-gray
    border-bottom: 1px solid #E6E8EC

.header
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1120px
    padding-right: 10px
    margin: 0 auto

    & .logo
        margin-top: -16px

    & .actions
        display: none
        +desktop
            display: flex
            justify-content: flex-end

            & .actionSelect
                display: block
                margin-right: 10px
                width: 265px

            & .actionButton
                padding-top: 6px
                height: 40px

    & .burgerMenu
        display: block
        +desktop
            display: none
            
                        
        & .login
            text-decoration: underline

    & .navigation
        margin: 0 40px
        flex-grow: 1
        & .menuList
            display: flex
            list-style: none
            
            justify-content: space-between
        
            & .menuLink
                margin-right: 10px
                
                &:last-child
                    margin-right: 0
        &.desktopNavigation
            display: none

            +desktop
                display: block