@import 'variables'
@import 'media'

.header
    display: flex
    justify-content: space-between
    align-items: center

    & .logo
        margin-top: -16px
    
    & .navigation
        flex-grow: 1
        & .menuList
            display: flex
            list-style: none
            
            justify-content: space-between
        
            & .menuLink
                margin-right: 10px