$full-width: 1920
$big-desktop: 1600
$desktop-lg: 1399
$desktop: 1024
$tablet: 991
$mobile: 767
$mobile-sm: 576
$min-width: 320

$max-content: 1120px

// Colors
  
// Text
$main-text: #122561
$accent-text-black: #777E91
$neutral-text-green: #ABD0CF

$main-background-gray: #F2F2F2
$border-color: #E6E8EC

// Button
$main-button-background: #3772FF
$main-button-font-color: #E9E9E9


