@import 'variables'
@import 'media'

.topVoting
  max-width: 1080px
  margin: 20px auto 120px

  & .expressProject
    margin-bottom: 20px
  
  & .content
    display: flex
    flex-direction: column
    
    margin: 0 auto
    
    +mobile
      width: 100%
      
    +tablet
      width: 100%

    +desktop
      margin: 0
      flex-direction: row
      justify-content: space-between

  & .image
    object-fit: cover
    border-radius: 16px
    
    +tablet
      margin-bottom: 20px
      width: 100%
      
    +mobile
      margin-bottom: 20px
      width: 100%
  
  & .title
    font: 700 64px/100% "DM Sans"
    color: $main-text

  & .desktop
    display: none
    +desktop
      display: block

  & .mobile
    display: none

    +mobile
      display: block
  
    +tablet
      display: block
  
  & .details
  
  & .nameAndCreator
    margin-bottom: 60px

    & .title
      margin-bottom: 20px

  & .votingCardInfo
    margin-bottom: 60px
    
    +mobile
      margin: 0 auto 60px

  & .buttons
    +desktop
      width: 352px
    
  & .voteButton
    margin-bottom: 8px