@import 'variables'
@import 'media'

.topAuthorsList
    max-width: 1120px
    padding: 0px 20px
    margin: 0 auto 120px
    
    .topAuthorsHeading
        margin-bottom: 20px

    :global(.splide__arrows)
        margin-top: 32px
        display: flex
        justify-content: center
    
    :global(.splide__list)
        margin: 0
        padding: 0
        
        display: flex
        flex-direction: row
        justify-content: space-between

    :global(.splide__track)
        overflow: hidden

    :global(.splide__slide)
        user-select: none
        display: inline-block
        

    :global(.splide__arrow)
        &:active
            
    :global(.splide__sr)
        display: none
    
    :global(.splide__arrow--prev)
        margin-right: 24px
        transform: rotate(180deg)